

<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card p-4" style="min-width: 300px;">
    <h3 class="text-center">Login</h3>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)"  class="form-signin">
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" id="username" [(ngModel)]="username" name="username" class="form-control" required />
        <!-- Validation message -->
        <div *ngIf="loginForm.submitted && !loginForm.controls['username']?.valid" class="text-danger">
          Username is required
        </div>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" id="password" [(ngModel)]="password" name="password" class="form-control" required />
        <!-- Validation message -->
        <div *ngIf="loginForm.submitted && !loginForm.controls['password']?.valid" class="text-danger">
          Password is required
        </div>
      </div>

      <button type="submit" class="btn btn-primary w-100">Login</button>
    </form>

    <div class="text-center mt-3">
      <small> <a routerLink="/forgot-password">Forgot your password?</a><br /></small>
      <small><a routerLink="/signup">Don't have an account? Sign up here</a></small>
    </div>
  </div>
</div>

